<br>
<div class="row justify-content-center">
	<h4 class="display-4">Bienvenido a</h4>	
</div>
<div class="row justify-content-center">
	<h1 class="display-1">Marktech</h1>
</div>
<div class="row justify-content-center">
	<h5 class="display-5">Publica tus productos y encuentra nuevos</h5>
</div>
<br>
<br>
<br>
<div class="row justify-content-center">
	<p class="lead">Productos de sujeridos</p>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "mini.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Proto mini</h4>
		    <p>100$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "arduino.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Arduino-uno</h4>
		    <p>370$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
			<%= image_tag "rgb.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">led-rgb</h4>
		    <p>10$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "cables.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">cables *m</h4>
		    <p>1$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
</div>
